<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li><%= link_to "Accueil", root_path, :class => "external" %></a></li>
                <li class="current"><%= link_to "Sports", pages_sports_path, :class => "external" %></li>
                <li><a href="#about">Classement</a></li>
                <li><a href="#contact">Infos</a></li>
				<li><a href="shortcodes.html" class="external">Shortcodes</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<div id="shortcodes" class="page">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Un titre de page?</h2>
                    <h3 class="title-description">Bienvenue sur la page pour faire vos paris sur le sport qui vous plait</h3>
                </div>
            </div>
        </div>
        <!-- Start Alerts/Tabs Section -->
        <div class="row">
        	         
            <!-- Start Tabs -->
            <div class="span12">
            	<h3 class="spec">Les Paris</h3>
                
            	<div class="tabbable">
                
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1" data-toggle="tab">Football</a></li>
                        <li><a href="#tab2" data-toggle="tab">Tennis</a></li>
                        <li><a href="#tab3" data-toggle="tab">ETC...</a></li>
                    </ul>
                 
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="span5">
            	               <!-- Filter -->
                                <nav id="options" class="work-nav">
                                    <ul id="filters" class="option-set" data-option-key="filter">
                                        <li class="type-work">Championnat</li>
                                        <% $lstLigue.each do |ligue| %>
                    	               <li><a href="#filter" data-option-value=".ligue1" class="selected"><%= ligue %></a></li>
                                        <% end %>
                                    </ul>
                                    <div class="span9">
                                    	<div class="row">
                                        	<section id="Ligue 1">
                                            	<ul id="thumbs">
                                                    <% $lstParis.each do |pari| %>
			                     				<!-- Item Project and Filter Name -->
                                                	<li class="item-thumbs span3 design">
                                                    	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                                    	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title=<%= pari %> href="/assets/foot.jpg">
                                                        	<span class="overlay-img"></span>
                                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                                        </a>
                                                        <!-- Thumb Image and Description -->
<!--                                                        <%= image_tag("image-01.jpg") %>-->
                                                        <h2><%= pari %></h2>
                                                    </li>
                                                	<!-- End Item Project -->
                                                    <% end %>
                                                    
                                                </ul>
                                            </section>
                                            
                                    	</div>
                                    </div>
                                </nav>
                                <!-- End Filter -->
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.                            
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                        </div>
                        <div class="tab-pane fade in" id="tab3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                            Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.    
                        </div>
                    </div>
                            
				</div>
            </div>
            <!-- End Tabs -->
            
        </div>
        <!-- End Alerts/Tabs Section -->
        
        
        
    </div>
</div>
<!-- End Shortcodes Section -->

<!-- Footer -->
<footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->